# compiled output
/be-nest/dist
/be-nest/node_modules
/be-nest/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/be-nest/coverage
/be-nest/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# FRONT END
/fe-nuxt/.output
/fe-nuxt/.data
/fe-nuxt/.nuxt
/fe-nuxt/.nitro
/fe-nuxt/.cache
/fe-nuxt/node_modules
/fe-nuxt/dist